name: CI

on: [pull_request]

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout project
        uses: actions/checkout@d632683dd7b4114ad314bca15554477dd762a938 # v4.2.0

      - uses: actions/setup-node@0a44ba7841725637a19e28fa30b79a866c81b0a6 # v4.0.4
        with:
          node-version: '20'

      - name: Run `npm install`
        run: npm install

      - name: Run `npm run all`
        run: npm run all

      - name: Save PR number
        if: ${{ github.event.pull_request.user.login != 'dependabot[bot]' }}
        run: echo ${{ github.event.number }} > PR_NUMBER

      - name: Upload artifact with `PR_NUMBER`
        if: ${{ github.event.pull_request.user.login != 'dependabot[bot]' }}
        uses: actions/upload-artifact@b4b15b8c7c6ac21ea08fcf65892d2ee8f75cf882 # v4.4.3
        with:
          name: PR_NUMBER
          path: PR_NUMBER

      - name: Upload artifact with `dist` folder
        if: ${{ github.event.pull_request.user.login != 'dependabot[bot]' }}
        uses: actions/upload-artifact@b4b15b8c7c6ac21ea08fcf65892d2ee8f75cf882 # v4.4.3
        with:
          name: dist
          path: dist/

      - name: Upload artifact with `covertura.xml`
        if: ${{ github.event.pull_request.user.login != 'dependabot[bot]' }}
        uses: actions/upload-artifact@b4b15b8c7c6ac21ea08fcf65892d2ee8f75cf882 # v4.4.3
        with:
          name: cobertura
          path: coverage/cobertura-coverage.xml
