name: Add comment with code-coverage to PR

on:
  workflow_run:
    workflows: ['CI']
    branches-ignore: ['dependabot/**']
    types: [completed]

jobs:
  add-comment-with-code-coverage:
    runs-on: ubuntu-latest
    if: ${{ github.event.pull_request.user.login != 'dependabot[bot]' && github.event.workflow_run.conclusion == 'success' }}
    steps:
      - name: Checkout project
        uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29 # v4.1.6

      - name: Download cobertura.xml file
        uses: dawidd6/action-download-artifact@bf251b5aa9c2f7eeb574a96ee720e24f801b7c11 # v6
        with:
          run_id: ${{github.event.workflow_run.id }}
          name: cobertura
          path: .

      - name: Download PR_NUMBER
        uses: dawidd6/action-download-artifact@bf251b5aa9c2f7eeb574a96ee720e24f801b7c11 # v6
        with:
          run_id: ${{github.event.workflow_run.id }}
          name: PR_NUMBER
          path: .

      - name: Extract PR number
        id: extract-pr-number
        run: |
          pr_number=$(cat ./PR_NUMBER)
          echo "PR_NUMBER=$pr_number" >> $GITHUB_OUTPUT

      - name: Code Coverage Report
        uses: irongut/CodeCoverageSummary@51cc3a756ddcd398d447c044c02cb6aa83fdae95 # v1.3.0
        with:
          filename: cobertura-coverage.xml
          badge: true
          format: markdown
          output: both
          thresholds: '60 80'

      - name: Add Coverage PR Comment
        uses: marocchino/sticky-pull-request-comment@331f8f5b4215f0445d3c07b4967662a32a2d3e31 # v2.9.0
        with:
          recreate: true
          header: coverage
          number: ${{ steps.extract-pr-number.outputs.PR_NUMBER }}
          path: code-coverage-results.md
