name: Add comment with code-coverage to PR

on:
  workflow_run:
    workflows: ['CI']
    branches-ignore: ['dependabot/**']
    types: [completed]

jobs:
  add-comment-with-code-coverage:
    runs-on: ubuntu-latest
    if: ${{ github.event.pull_request.user.login != 'dependabot[bot]' && github.event.workflow_run.conclusion == 'success' }}
    steps:
      - name: Checkout project
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Download cobertura.xml file
        uses: dawidd6/action-download-artifact@ac66b43f0e6a346234dd65d4d0c8fbb31cb316e5 # v11
        with:
          run_id: ${{github.event.workflow_run.id }}
          name: cobertura
          path: .

      - name: Download PR_NUMBER
        uses: dawidd6/action-download-artifact@ac66b43f0e6a346234dd65d4d0c8fbb31cb316e5 # v11
        with:
          run_id: ${{github.event.workflow_run.id }}
          name: PR_NUMBER
          path: .

      - name: Extract PR number
        id: extract-pr-number
        run: |
          pr_number=$(cat ./PR_NUMBER)
          echo "PR_NUMBER=$pr_number" >> $GITHUB_OUTPUT

      - name: Code Coverage Report
        uses: irongut/CodeCoverageSummary@51cc3a756ddcd398d447c044c02cb6aa83fdae95 # v1.3.0
        with:
          filename: cobertura-coverage.xml
          badge: true
          format: markdown
          output: both
          thresholds: '60 80'

      - name: Add Coverage PR Comment
        uses: marocchino/sticky-pull-request-comment@773744901bac0e8cbb5a0dc842800d45e9b2b405 # v2.9.4
        with:
          recreate: true
          header: coverage
          number: ${{ steps.extract-pr-number.outputs.PR_NUMBER }}
          path: code-coverage-results.md
