# Releases a new minor version every time a PR is merged into `master`.
#
# It also generates the `dist` folder inside the tag's commit, keeping
#   the `master` branch clean.
#
# It will also update the major tag v2 to track the latest tag.

name: Release new version

on:
  workflow_dispatch:
  push:
    branches:
      - master

jobs:
  new-release:
    name: Create new release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout project
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0
          ref: master

      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: '20'

      - name: Run `npm install`
        run: npm install

      - name: Run `npm run build`
        run: npm run build

      - name: Release new version
        uses: int128/release-typescript-action@a7b8921a6006618f7b35d55aebc7640d2171c09a # v1.42.0
        with:
          major-version: 2

  update-docs:
    name: Update documentation
    if: ${{ github.actor != 'dependabot[bot]' }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout project
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0
          ref: master

      - name: Run `npm install`
        run: npm install

      - name: Run `npm run docs`
        run: npm run docs

      - name: Commit changes by `npm run docs`
        uses: alejandrohdezma/actions/commit-and-push@v1
        with:
          message: Run `npm run docs` [skip ci]
          branch: master
