# Releases a new minor version every time a PR is merged into `master`.
#
# It also generates the `dist` folder inside the tag's commit, keeping
#   the `master` branch clean.
#
# It will also update the major tag v2 to track the latest tag.

name: Release new version

on:
  workflow_dispatch:
  push:
    branches:
      - master

jobs:
  new-release:
    name: Create new release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout project
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
        with:
          fetch-depth: 0
          ref: master

      - uses: actions/setup-node@0a44ba7841725637a19e28fa30b79a866c81b0a6 # v4.0.4
        with:
          node-version: '20'

      - name: Run `npm install`
        run: npm install

      - name: Run `npm run build`
        run: npm run build

      - name: Release new version
        uses: int128/release-typescript-action@ea9cfae1900a4473a9e3efe8f6ba1822140d1229 # v1.29.0
        with:
          major-version: 2

  update-docs:
    name: Update documentation
    if: ${{ github.actor != 'dependabot[bot]' }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout project
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
        with:
          fetch-depth: 0
          ref: master

      - name: Run `npm install`
        run: npm install

      - name: Run `npm run docs`
        run: npm run docs

      - name: Commit changes by `npm run docs`
        uses: alejandrohdezma/actions/commit-and-push@v1
        with:
          message: Run `npm run docs` [skip ci]
          branch: master
