name: Remove snapshot branch

on:
  pull_request_target:
    types:
      - closed

jobs:
  delete-pr-branch:
    runs-on: ubuntu-latest
    if: github.event.sender.login != 'dependabot[bot]'
    steps:
      - name: Checkout project
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Remove snapshot branch
        run: git push origin -d snapshots/${{ github.event.number }} || true
