name: Remove snapshot branch

on:
  pull_request_target:
    types:
      - closed

jobs:
  delete-pr-branch:
    runs-on: ubuntu-latest
    if: github.event.sender.login != 'dependabot[bot]'
    steps:
      - name: Checkout project
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Remove snapshot branch
        run: git push origin -d snapshots/${{ github.event.number }} || true
