name: Remove snapshot branch

on:
  pull_request_target:
    types:
      - closed

jobs:
  delete-pr-branch:
    runs-on: ubuntu-latest
    if: github.event.sender.login != 'dependabot[bot]'
    steps:
      - name: Checkout project
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Remove snapshot branch
        run: git push origin -d snapshots/${{ github.event.number }} || true
